name: CI

on:
  workflow_call:
  workflow_dispatch:

permissions:
  packages: write
  contents: write
  deployments: write

jobs:
    linting:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
          with:
            fetch-depth: 0
        
        - name: Setup Helm
          uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        
        - name: Lint Helm Charts
          run: helm lint .
            
    success:
        needs:
            - linting
        if: always() && (contains(join(needs.*.result, ','), 'failure') || ( !contains(join(needs.*.result, ','), 'cancelled') && !contains(join(needs.*.result, ','), 'skipped')))
        runs-on: ubuntu-24.04
        steps:
            - name: Verify no failures occurred in needed jobs
              run : ${{ !contains(join(needs.*.result, ','), 'failure') }}
    
    deploy:
        needs:
            - success
        uses: ./.github/workflows/release.yml
        if: github.ref_name == github.event.repository.default_branch && !github.event.repository.fork
        secrets: inherit
    