name: Semantic Release

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
    
      - name: Find the version of Node from package.json
        id: node-version
        run: echo "version=$(jq -r .engines.node package.json)" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ steps.node-version.outputs.version }}

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          npm install
          npx semantic-release
      
      - name: Create charts folder
        run: |
          mkdir charts
          chmod 755 charts
      
      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      
      - name: Update Helm chart dependencies
        run: helm dependency update

      - name: Push Helm chart to OCI compatible registry (Github)
        uses: bsord/helm-push@51f937208fed71540ab5ec5215cf9b3ecae9c7b7 # v4.2.0
        with:
          useOCIRegistry: true
          registry-url:  oci://ghcr.io/position-pal
          username: ${{ secrets.USERNAME }}
          access-token: ${{ secrets.GHCR_TOKEN }}
          force: true
          chart-folder: "./"
